/* Footer */
footer {
  background-color: #0c1b3d;
  background-image: linear-gradient(to left top, rgba(16, 53, 162, 0.2), rgba(16, 53, 162, 0.5), rgba(16, 53, 162, 0.3), rgba(16, 53, 162, 0.7), rgba(255, 255, 255, 0));
}

footer .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  grid-gap: 25px;
  color: #ffffff;
}

footer .box {
  margin-top: 94px;
}

footer i {
  width: 40px;
  height: 40px;
  align-items: center;
  line-height: 40px !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.818);
  text-align: center;
  margin-right: 20px;
  margin-top: 50px;
}

footer .img {
  margin-top: 59px;
}

footer span {
  font-size: 15px;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }

  footer .box {
    margin-top: 20px;
  }

  footer i {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 0;
  }

  footer .img {
    margin-top: 20px;
  }
}
